<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>

      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |art| %>
    <tr>
      <td><%= art.title%></td>
      <td><%= truncate(art.description, length: 100)%></td>
      <td><%= link_to 'Edit', edit_article_path(art.id),class:'btn btn-outline-primary' %>
          <%= link_to 'Show',article_path(art.id), class:'btn btn-outline-success'%>
          <%= link_to 'Delete', article_path(art),class:'btn btn-outline-danger',
      method: :delete, data: {confirm: 'are you sure you want to delete:'} %><br></td>
    </tr>
    <% end %>
  </tbody>
</table>
